// colors
$primary_color: #1e64ff;
$secondary_color: #c3d3d3;
$gray_color: rgb(241, 244, 251);
$black: #030511;
$red: darkred;
$gray: #aeaeae;
$text_gray:rgb(75,85,99);

// fonts
$big-font: 50px;
$semi-big-font: 40px;
$bigger-normal-font: 25px;
$normal-font: 20px;
$small-font: 14px;
$font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

